:root {
  /*FIRST COLOR SCHEME:
  --colorA: #f7b008;
  --colorB: #880044;
  --colorC: #247ba0;
  --colorD: #216a61;
  --colorE: #ffff;*/

  /*color scheme from photo: 
  just take colors without letters, 
  (e.g. --color1 & --color2, not --color2a),
  unless need extra colours*/
  --color0a: #faa135;
  --color1: #e58821;
  --color1b: #be5e18;
  --color2a: #8c3923;
  --color2: #4e1100;
  --color3: #c92a1c;
  --color4: #bfe5ee;
  --color4b: #64878b;
  --color4c: #2d4049;
  --color5: #1c2628;
  --color5b: #221f0d;
  --color6: #a88017;
  --color7: #d6ad2d;
  --color8: #fff;
}

body {
  background-color: var(--color8);
  border: 5px solid var(--color4);
  border-radius: 60px;
  margin: 20px 10%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--color5);
  box-shadow: -5px 5px 10px 0 var(--color6), -10px 10px 10px 0 var(--color0a);
}

h1 {
  color: var(--color1);
  font-style: italic;
  padding-bottom: 20px;
}

section {
  margin-top: ;
}

div {
  margin: 10px;
}

#button-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

button,
.formButton {
  /*spacing*/
  margin: 10px 15px;
  /*border*/
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color5);
  /*background*/
  background-color: var(--color2);
  /*font*/
  color: var(--color8);
  font-weight: 600;
}

.mediumButton {
  /*spacing*/
  width: 40%;
  max-width: 200px;
  min-height: 85px;
  padding: 10px 3vw;
}

.smallButton {
  /*spacing*/
  margin: 10px 15px;
  padding: 10px 3vw;
}

:hover {
  /*hover*/
  cursor: pointer;
  transition: 150ms;
}

.openingQuestions,
.formButton {
  /*border*/
  border-color: var(--color2);
}

.openingQuestions:hover,
.formButton:hover {
  /*font*/
  color: var(--color3);
  /*font*/
  background-color: var(--color8);
}

#home-button {
  /*border*/
  border-radius: 15px;
  border-color: var(--color5);
  border-width: 1px;
  /*background*/
  background-color: var(--color4b);
  /*font*/
  color: var(--color4c);
}

#home-button:hover {
  border-color: var(--color5);
  background-color: var(--color2);
  color: var(--color8);
}

a {
  color: var(--color2a);
  text-decoration: none;
}

a:visited {
  color: var(--color);
  text-decoration: none;
}

main,
footer {
  padding: 20px;
}

.spacer {
  border-top: 1px solid var(--color4);
  margin-left: 20%;
  margin-right: 20%;
}

footer {
  font-size: 10px;
  font-style: italic;
  color: var(--color3);
}

#food-type {
  position: flexbox;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
  position: relative;
  top: 4.5px;
}

.footerDivider {
  padding: 0 10px;
  font-style: normal;
}

#footer-icon {
}
